<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.net.realloyal.mapper.CourseMapper">

	<insert id="addListeningCourse" parameterType="ListeningCourseForSQL">
		insert into ListeningCourse (courseId,languageTypeId,rateTypeId,courseName,courseChineseContent,courseEnglishContent,courseResourceUrl,downloadNum,instructionImgUrl) values(null,#{languageTypeId},#{rateTypeId},#{courseName},#{courseChineseContent},#{courseEnglishContent},#{courseResourceUrl},#{downloadNum},#{instructionImgUrl})
	</insert>
	
	<insert id="addOralCourse" parameterType="OralCourseForSQL">
		insert into OralCourse (courseId,languageTypeId,rateTypeId,courseName,courseChineseContent,courseEnglishContent,downloadNum,instructionImgUrl) values(null,#{languageTypeId},#{rateTypeId},#{courseName},#{courseChineseContent},#{courseEnglishContent},#{downloadNum},#{instructionImgUrl})
	</insert>
	
	<insert id="addReadingCourse" parameterType="ReadingCourseForSQL">
		insert into ReadingCourse (courseId,languageTypeId,rateTypeId,courseName,courseChineseContent,courseEnglishContent,downloadNum,instructionImgUrl) values(null,#{languageTypeId},#{rateTypeId},#{courseName},#{courseChineseContent},#{courseEnglishContent},#{downloadNum},#{instructionImgUrl})
	</insert>
	
</mapper>