<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.net.realloyal.mapper.LanguageTypeMapper">
	<select id="getLanguagesManage" resultType="LanguageType">
		select * from languageType limit #{0},10
	</select>

	<insert id="addlanguage" parameterType="LanguageType">
		insert into languageType values(null,#{languageName},#{languageIconUrl})
	</insert>
	
	<select id="getLanguageTypeInfo" resultType="LanguageType">
		select * from languageType where languageTypeId = #{param1}
	</select>
	
	<update id="updatelanguageWithIcon" parameterType="LanguageType">
		update languageType set languageName=#{languageName},languageIconUrl=#{languageIconUrl} where languageTypeId=#{languageTypeId}
	</update>
	
	<update id="updatelanguageWithoutIcon" parameterType="LanguageType">
		update languageType set languageName=#{languageName} where languageTypeId=#{languageTypeId}
	</update>
	
	<delete id="deletelanguage" parameterType="Integer">
		delete from languageType where languageTypeId=#{param1}
	</delete>
	
	<select id="getAllLanguages" resultType="LanguageType">
		select * from languageType
	</select>
	
	<select id="getLanguagesCount" resultType="Integer">
		select count(*) from languageType
	</select>

	<select id="selectLanguageNameRepeat" resultType="Integer">
		select count(*) from languageType where languageName = #{param1}
	</select>
</mapper>