<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="User" type="cn.net.realloyal.model.User" />
		<typeAlias alias="LanguageType" type="cn.net.realloyal.model.LanguageType" />
		<typeAlias alias="RateType" type="cn.net.realloyal.model.RateType" />
		<typeAlias alias="RateTypeForSQL" type="cn.net.realloyal.vo.RateTypeForSQL" />
		<typeAlias alias="Course" type="cn.net.realloyal.model.Course" />
		<typeAlias alias="ListeningCourse" type="cn.net.realloyal.model.ListeningCourse" />
		<typeAlias alias="OralCourse" type="cn.net.realloyal.model.OralCourse" />
		<typeAlias alias="ReadingCourse" type="cn.net.realloyal.model.ReadingCourse" />
		<typeAlias alias="ListeningCourseForSQL" type="cn.net.realloyal.vo.ListeningCourseForSQL" />
		<typeAlias alias="OralCourseForSQL" type="cn.net.realloyal.vo.OralCourseForSQL" />
		<typeAlias alias="ReadingCourseForSQL" type="cn.net.realloyal.vo.ReadingCourseForSQL" />
		<typeAlias alias="DownloadRecordingForSQL" type="cn.net.realloyal.vo.DownloadRecordingForSQL" />
		<typeAlias alias="QuestionForSQL" type="cn.net.realloyal.vo.QuestionForSQL" />
		<typeAlias alias="CarouselMap" type="cn.net.realloyal.model.CarouselMap" />
		<typeAlias alias="DownloadRecording" type="cn.net.realloyal.model.DownloadRecording" />
		
	</typeAliases>

	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
	<mappers>
		<mapper resource="cn/net/realloyal/mapper/userMapper.xml" />
		<mapper resource="cn/net/realloyal/mapper/languageTypeMapper.xml" />
		<mapper resource="cn/net/realloyal/mapper/rateTypeMapper.xml" />
		<mapper resource="cn/net/realloyal/mapper/courseMapper.xml" />
		<mapper resource="cn/net/realloyal/mapper/websiteInfoMapper.xml" />
	</mappers>

</configuration>  