<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.net.realloyal.mapper.TrainMapper">
	<!-- 添加模拟测试套题 -->
	<insert id="addSimulatedTest">
		insert into SimulatedTest values(null,#{languageTypeId},#{rateTypeId},#{testName},#{instructionImgUrl})
	</insert>
	<!-- 删除模拟测试套题 -->
	<delete id="deleteSimulatedTest">
		delete from SimulatedTest where simulatedTestId = #{param1}
	</delete>
	<!-- 获得模拟测试套题信息 -->
	<select id="getSimulatedTestInfo" resultMap="SimulatedTestMap">
		select * from SimulatedTest where simulatedTestId = #{param1}
	</select>
	<resultMap type="SimulatedTest" id="SimulatedTestMap">
		<!-- column为数据库字段，property为实体字段 -->
		<id column="simulatedTestId" property="simulatedTestId"/>
		<result column="testName" property="testName"/>
		<result column="instructionImgUrl" property="instructionImgUrl"/>
		<collection column="languageTypeId" property="languageType" ofType="LanguageType" select="getLanguageType"/>
		<collection column="rateTypeId" property="rateType" ofType="RateType" select="getRateType"/>
	</resultMap>
	<select id="getLanguageType" parameterType="java.lang.Integer" resultType="LanguageType">
		select * from languageType where languageTypeId = #{languageTypeId}
	</select>
	<select id="getRateType" parameterType="java.lang.Integer" resultType="RateType">
		select * from RateType where rateTypeId = #{rateTypeId}
	</select>
	<!-- 更新模拟测试套题——有图片 -->
	<update id="updateSimulateTestWithImg" parameterType="SimulatedTest">
		update SimulatedTest set languageTypeId=#{languageTypeId},rateTypeId=#{rateTypeId},testName=#{testName},instructionImgUrl=#{instructionImgUrl} where simulatedTestId=#{simulatedTestId}
	</update>
	<!-- 更新模拟测试套题——没有图片 -->
	<update id="updateSimulateTestWithoutImg" parameterType="SimulatedTest">
		update SimulatedTest set languageTypeId=#{languageTypeId},rateTypeId=#{rateTypeId},testName=#{testName} where simulatedTestId=#{simulatedTestId}
	</update>
	<!-- 获得模拟测试套题个数 -->
	<select id="getAllSimulatedTestTotalPagesNum" resultType="Integer">
		select count(*) from SimulatedTest
	</select>
	<!-- 获得所有模拟套题列表（分页） -->
	<select id="getAllSimulatedTest" resultMap="SimulatedTestMap">
		select * from SimulatedTest limit #{param1},10
	</select>
	<!-- 根据课程类别获得所有问题 -->
	<select id="getAllQuestionByCourseType" resultType="QuestionForSQL">
		select * from Question where courseType = #{param1}
	</select>
	<!-- 添加模拟套题的测试问题 -->
	<insert id="addTestQuestion" parameterType="TestQuestionForSQL">
		insert into TestQuestion values(null,#{testQuestionName},#{simulatedTestId},#{courseType},#{courseId})
	</insert>
	<!-- 删除模拟套题的测试问题 -->
	<delete id="deleteTestQuestion">
		delete from TestQuestion where testQuestionId=#{param1}
	</delete>
	<!-- 通过套题Id获得所有测试套题的测试问题 -->
	<select id="getAllTestQuestionBySimulatedTest" resultType="TestQuestionForSQL">
		select * from TestQuestion where simulatedTestId = #{param1}
	</select>
	<!-- 添加用户模拟测试结果 -->
	<insert id="addTestQuestionResult" parameterType="TestQuestionResultForSQL">
		insert into TestQuestionResult values(null,#{userId},#{simulatedTestId},#{resultScore})
	</insert>
	<!-- 修改用户模拟测试结果 -->
	<insert id="updateTestQuestionResult" parameterType="TestQuestionResultForSQL">
		update TestQuestionResult set resultScore = #{resultScore} where userId = #{userId} and simulatedTestId = #{simulatedTestId}
	</insert>
	<!-- 获得指定用户的模拟测试结果 -->
	<select id="getTestQuestionResultOfUserOnSimulatedTest" resultType="TestQuestionResultForSQL">
		select * from TestQuestionResult where userId = #{param1} and simulatedTestId=#{param2}
	</select>
	<!-- 获得指定用户模拟测试的平均值 -->
	<select id="getAvgTestQuestionResultOfUser" resultType="Object">
		select avg(resultScore) from TestQuestionResult where userId=#{param1}
	</select>
	<!-- 通过Id获得模拟测试对象 -->
	<select id="getAllSimulatedTestById" resultMap="SimulatedTestMap">
		select * from SimulatedTest where simulatedTestId=#{param1}
	</select>
	<!-- 获得指定模拟套题的所有题目 -->
	<select id="getAllQuestionBySimulatedTest" resultType="QuestionForSQL">
		select * from Question where questionId in (select questionId from testquestion right join question on testquestion.courseType=question.courseType and testquestion.courseId = question.courseId where testquestion.simulatedTestId=#{param1})
	</select>
	
</mapper>