<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.net.realloyal.mapper.UserMapper">
	<select id="checkLogin" resultType="User">
		select * from user where userPhoneNumber=#{param1} and userPassword=#{param2}
	</select>
	
	<select id="checkPhoneIsExist" resultType="User">
		select * from user where userPhoneNumber=#{param1}
	</select>
	
	<insert id="registerUser" parameterType="User">
		insert into user (userId,userSex,userName,userPassword,userAvatarUrl,userPhoneNumber,userPermission) values(null,#{userSex},#{userName},#{userPassword},#{userAvatarUrl},#{userPhoneNumber},#{userPermission})
	</insert>
	
	<!-- 获得用户签到记录 -->
	<select id="getUserSignInRecording" resultType="SignInRecordingForSQL">
		select * from signinrecording where userId= #{param1}
	</select>
	<!-- 添加用户签到记录 -->
	<insert id="addSignInRecording" parameterType="SignInRecordingForSQL">
		insert into signinrecording values(null,#{userId},#{totalTimes},#{recentMark})
	</insert>
	<!-- 用户点击签到触发的修改签到记录 -->
	<update id="updateSignInRecording">
		update signinrecording set userId=#{param1},totalTimes=#{param2},recentMark=#{param3} where signInId=#{param4}
	</update>
	<!-- 管理员直接修改签到记录 -->
	<update id="updateSignInRecordingForAdmin">
		update signinrecording set totalTimes=#{param2} where userId=#{param1}
	</update>
	
	<!-- 通过Id获得用户信息 -->
	<select id="getUserInfoById" resultType="User">
		select * from user where userId=#{param1}
	</select>
	<!-- 通过Id删除用户信息 -->
	<delete id="deleteUser">
		delete from user where userId=#{param1}
	</delete>
	<!-- 获得用户记录的总个数 -->
	<select id="getUserCountNum" resultType="Integer">
		select count(*) from user where userPermission = 0
	</select>
	<!-- 获得用户指定页号的记录信息 -->
	<select id="getUsersByPageNum" resultType="User">
		select * from user where userPermission = 0 limit #{param1},10
	</select>
	<!-- 获得用户中sex为男的总人数 -->
	<select id="getManNum" resultType="Integer">
		select count(*) from user where userSex='男' and userPermission = 0
	</select>
	<!-- 获得用户中sex为女的总人数 -->
	<select id="getWomanNum" resultType="Integer">
		select count(*) from user where userSex='女' and userPermission = 0
	</select>
	<!-- 获得所有下载时间与总次数 -->
	<select id="getDownloadRate" resultType="DownloadNumAndCount">
		select downloadRecordingTime,count(*) as count from downloadRecording group by downloadRecordingTime
	</select>
	<!-- 获得所有签到时间与总次数 -->
	<select id="getSignInTimeRate" resultType="SignInTimeAndCount">
		select recentMark as recentMarkTime,count(*) as count from signInRecording group by recentMark
	</select>
	<!-- 获得所有用户名和总次数 -->
	<select id="getSignInTotal" resultType="SignInTotalAndUserName">
		select userName,totalTimes from signInRecording left join user on signInRecording.userId=user.userId
	</select>
	<!-- 更新用户信息带头像 -->
	<update id="updateUserInfoByAdminWithAvatar" parameterType="User">
		update user set userSex=#{userSex},userName=#{userName},userPassword=#{userPassword},userAvatarUrl=#{userAvatarUrl},userPhoneNumber=#{userPhoneNumber},userPermission=#{userPermission} where userId=#{userId}
	</update>
	<!-- 更新用户信息不带头像 -->
	<update id="updateUserInfoByAdminWithoutAvatar" parameterType="User">
		update user set userSex=#{userSex},userName=#{userName},userPassword=#{userPassword},userPhoneNumber=#{userPhoneNumber},userPermission=#{userPermission} where userId=#{userId}
	</update>
</mapper>